option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: HOST
    value: 'awseb-e-ccs54nveii-stack-awsebrdsdatabase-8kod75rd9oek.c50syq0iyqal.eu-north-1.rds.amazonaws.com'
  - option_name: USER
    value: 'joseamtalavera'
  - option_name: PORT
    value: '3306'
  - option_name: PASSWORD
    value: 'Rakna6164'
  